<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-card class="sidenav-header">
        <mat-card-header *ngIf="auth.usuario$ | async as usuario" >
            <img matCardAvatar [src]="usuario.photoURL? usuario.photoURL:'https://angularfirebase.com/images/logo.svg'">
            <mat-card-title>{{ usuario.displayName }}</mat-card-title>
            <mat-card-subtitle>{{ usuario.email }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-nav-list dense>
        <a mat-list-item>
          <mat-icon>add</mat-icon> Nueva tarjeta
        </a>
        <a mat-list-item>
          <mat-icon>swap_horiz</mat-icon> Cambiar de tarjeta
        </a>
        <a mat-list-item>
          <mat-icon>view_list</mat-icon> Movimientos
        </a>
        <a mat-list-item>
          <mat-icon>help</mat-icon> Ayuda
        </a>
        <a mat-list-item [routerLink]="['/usuarios']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >
          <mat-icon>people</mat-icon> Usuarios
        </a>
        <a mat-list-item (click)="auth.logout()">
          <mat-icon>exit_to_app</mat-icon> Cerrar sesión
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbarppal">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon class="mat-18">menu</mat-icon>
      </button>
      <span>Saldo Tarjeta</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
