<mat-card>
  <mat-card-content>
    <mat-card-title align="center">
      <mat-icon>person_add</mat-icon> Nuevo usuario
    </mat-card-title>
    <form [formGroup]="usuarioForm">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="Email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Usuario" formControlName="Usuario">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" formControlName="Password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="center">
    <button color="accent" mat-raised-button>
      Registrar
    </button>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
