<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-card class="sidenav-header">
        <mat-card-header>
            <img matCardAvatar src="https://angularfirebase.com/images/logo.svg">
            <mat-card-title>Gabriel Gutierrez</mat-card-title>
            <mat-card-subtitle>@theguty</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-nav-list dense>
        <a mat-list-item>
          <mat-icon>add</mat-icon> Nueva tarjeta
        </a>
        <a mat-list-item>
          <mat-icon>swap_horiz</mat-icon> Cambiar de tarjeta
        </a>
        <a mat-list-item>
          <mat-icon>view_list</mat-icon> Movimientos
        </a>
        <a mat-list-item>
          <mat-icon>help</mat-icon> Ayuda
        </a>
        <a mat-list-item>
          <mat-icon>exit_to_app</mat-icon> Cerrar sesión
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbarppal">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon class="mat-18">menu</mat-icon>
      </button>
      <span>Saldo Tarjeta</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
